---
http_interactions:
- request:
    method: get
    uri: https://api.lufthansa.com/v1/operations/flightstatus/EW2045/2018-07-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 4n7rm7pbh2x527btdx37e45x
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-Id:
      - 996c2107-9a26-4b5e-9dd5-796302f2c9d9
      X-Mashery-Responder:
      - prod-j-worker-eu-west-1b-15.mashery.com
    body:
      encoding: UTF-8
      string: '{"FlightStatusResource":{"Flights":{"Flight":{"Departure":{"AirportCode":"HAM","ScheduledTimeLocal":{"DateTime":"2018-07-06T09:30"},"ScheduledTimeUTC":{"DateTime":"2018-07-06T07:30Z"},"EstimatedTimeLocal":{"DateTime":"2018-07-06T10:05"},"EstimatedTimeUTC":{"DateTime":"2018-07-06T08:05Z"},"TimeStatus":{"Code":"DL","Definition":"Flight
        Delayed"},"Terminal":{"Name":2,"Gate":"A46"}},"Arrival":{"AirportCode":"STR","ScheduledTimeLocal":{"DateTime":"2018-07-06T10:45"},"ScheduledTimeUTC":{"DateTime":"2018-07-06T08:45Z"},"EstimatedTimeLocal":{"DateTime":"2018-07-06T11:13"},"EstimatedTimeUTC":{"DateTime":"2018-07-06T09:13Z"},"TimeStatus":{"Code":"DL","Definition":"Flight
        Delayed"},"Terminal":{"Name":1}},"MarketingCarrier":{"AirlineID":"EW","FlightNumber":2045},"OperatingCarrier":{"AirlineID":"EW","FlightNumber":2045},"Equipment":{"AircraftCode":"31D"},"FlightStatus":{"Code":"NA","Definition":"No
        status"},"ServiceType":"Passenger"}},"Meta":{"@Version":"1.0.0","Link":[{"@Href":"https:\/\/api.lufthansa.com\/v1\/operations\/flightstatus\/EW2045\/2018-07-06","@Rel":"self"},{"@Href":"https:\/\/api.lufthansa.com\/v1\/references\/airports\/{airportCode}","@Rel":"related"}]}}}'
  recorded_at: Fri, 06 Jul 2018 07:04:29 GMT
recorded_with: VCR 4.0.0
