---
http_interactions:
- request:
    method: get
    uri: https://api.lufthansa.com/v1/operations/flightstatus/departures/FRA/2018-09-24T09:00?limit=100&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer nf9747y7rfuzvydthvz88bnz
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-Id:
      - b71fd37f-ff5a-430e-8151-871882a88834
      X-Mashery-Responder:
      - prod-j-worker-eu-west-1a-01.mashery.com
    body:
      encoding: UTF-8
      string: '{"FlightStatusResource":{"Flights":{"Flight":[{"Departure":{"AirportCode":"FRA","ScheduledTimeLocal":{"DateTime":"2018-09-24T08:45"},"ScheduledTimeUTC":{"DateTime":"2018-09-24T06:45Z"},"ActualTimeLocal":{"DateTime":"2018-09-24T09:02"},"ActualTimeUTC":{"DateTime":"2018-09-24T07:02Z"},"TimeStatus":{"Code":"DL","Definition":"Flight
        Delayed"},"Terminal":{"Name":1,"Gate":"A24"}},"Arrival":{"AirportCode":"TXL","ScheduledTimeLocal":{"DateTime":"2018-09-24T09:55"},"ScheduledTimeUTC":{"DateTime":"2018-09-24T07:55Z"},"ActualTimeLocal":{"DateTime":"2018-09-24T10:14"},"ActualTimeUTC":{"DateTime":"2018-09-24T08:14Z"},"TimeStatus":{"Code":"DL","Definition":"Flight
        Delayed"},"Terminal":{"Gate":"A04"}},"MarketingCarrier":{"AirlineID":"LH","FlightNumber":176},"OperatingCarrier":{"AirlineID":"LH","FlightNumber":176},"Equipment":{"AircraftCode":321},"FlightStatus":{"Code":"LD","Definition":"Flight
        Landed"},"ServiceType":"Passenger"},{"Departure":{"AirportCode":"FRA","ScheduledTimeLocal":{"DateTime":"2018-09-24T08:45"},"ScheduledTimeUTC":{"DateTime":"2018-09-24T06:45Z"},"ActualTimeLocal":{"DateTime":"2018-09-24T09:13"},"ActualTimeUTC":{"DateTime":"2018-09-24T07:13Z"},"TimeStatus":{"Code":"DL","Definition":"Flight
        Delayed"},"Terminal":{"Name":1,"Gate":"A26"}},"Arrival":{"AirportCode":"ZRH","ScheduledTimeLocal":{"DateTime":"2018-09-24T09:40"},"ScheduledTimeUTC":{"DateTime":"2018-09-24T07:40Z"},"ActualTimeL[...]
