---
http_interactions:
- request:
    method: get
    uri: https://api.lufthansa.com/v1/operations/flightstatus/arrivals/FRA/2018-09-24T09:00?limit=100&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer nf9747y7rfuzvydthvz88bnz
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Message-Id:
      - f86bfbec-bef7-44a1-8126-1cbafa90bb3c
      X-Mashery-Responder:
      - prod-j-worker-eu-west-1b-12.mashery.com
    body:
      encoding: UTF-8
      string: '{"FlightStatusResource":{"Flights":{"Flight":[{"Departure":{"AirportCode":"DUS","ScheduledTimeLocal":{"DateTime":"2018-09-24T07:35"},"ScheduledTimeUTC":{"DateTime":"2018-09-24T05:35Z"},"ActualTimeLocal":{"DateTime":"2018-09-24T08:45"},"ActualTimeUTC":{"DateTime":"2018-09-24T06:45Z"},"TimeStatus":{"Code":"DL","Definition":"Flight
        Delayed"},"Terminal":{"Gate":"A40"}},"Arrival":{"AirportCode":"FRA","ScheduledTimeLocal":{"DateTime":"2018-09-24T08:25"},"ScheduledTimeUTC":{"DateTime":"2018-09-24T06:25Z"},"ActualTimeLocal":{"DateTime":"2018-09-24T09:35"},"ActualTimeUTC":{"DateTime":"2018-09-24T07:35Z"},"TimeStatus":{"Code":"DL","Definition":"Flight
        Delayed"},"Terminal":{"Name":1,"Gate":"ASO"}},"MarketingCarrier":{"AirlineID":"LH","FlightNumber":"071"},"OperatingCarrier":{"AirlineID":"LH","FlightNumber":"071"},"Equipment":{"AircraftCode":319},"FlightStatus":{"Code":"LD","Definition":"Flight
        Landed"},"ServiceType":"Passenger"},{"Departure":{"AirportCode":"LIN","ScheduledTimeLocal":{"DateTime":"2018-09-24T07:15"},"ScheduledTimeUTC":{"DateTime":"2018-09-24T05:15Z"},"ActualTimeLocal":{"DateTime":"2018-09-24T10:42"},"ActualTimeUTC":{"DateTime":"2018-09-24T08:42Z"},"TimeStatus":{"Code":"DL","Definition":"Flight
        Delayed"},"Terminal":{"Gate":"A06"}},"Arrival":{"AirportCode":"FRA","ScheduledTimeLocal":{"DateTime":"2018-09-24T08:30"},"ScheduledTimeUTC":{"DateTime":"2018-09-24T06:30Z"},"ActualTimeLocal":{"D[...]
